[submodule "units"]
	path = units
	url = https://github.com/SDI-19-Oct-2020-Project-1-Group-6/GDMilitary-DB-Units.git
[submodule "reviews"]
	path = reviews
	url = https://github.com/SDI-19-Oct-2020-Project-1-Group-6/GDMilitary-SubmitReview.git
	branch = database_only
